In [8]:
library(KernSmooth)

In [9]:
myfunction <- function(x) {
    y <- rnorm(100)
    mean(y)
}
myfunction()

[1] 0.05020162

In [10]:
x <- 20

In [11]:
x

[1] 20

In [12]:
x <- 1:20
x

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [13]:
data <- read.csv('Philadelphia_Crime_Rate_noNA.csv')

In [14]:
data

   HousePrice HsPrc...10.000. CrimeRate MilesPhila PopChg Name
1  140463     14.0463         29.7      10         -1.0   Abington
2  113033     11.3033         24.1      18          4.0   Ambler
3  124186     12.4186         19.5      25          8.0   Aston
4  110490     11.0490         49.4      25          2.7   Bensalem
5   79124      7.9124         54.1      19          3.9   Bristol B.
6   92634      9.2634         48.6      20          0.6   Bristol T.
7   89246      8.9246         30.8      15         -2.6   Brookhaven
8  195145     19.5145         10.8      20         -3.5   Bryn Athyn
9  297342     29.7342         20.2      14          0.6   Bryn Mawr
10 264298     26.4298         20.4      26          6.0   Buckingham
11 134342     13.4342         17.3      31          4.2   Chalfont
12 147600     14.7600         50.3       9         -1.0   Cheltenham
13  77370      7.7370         34.2      10         -1.2   Clifton
14 170822     17.0822         33.7      32          2.4   Collegeville
15  40642      4.0642         45.7      15          0.0   Darby Bor.
16  71359      7.1359         22.3       8          1.6   Darby Town
17 104923     10.4923         48.1      21          6.9   Downingtown
18 190317     19.0317         19.4      26          1.9   Doylestown
19 215512     21.5512         71.9      26          5.8   E. Bradford
20 178105     17.8105         45.1      25          2.3   E. Goshen
21 131025     13.1025         31.3      19         -1.8   E. Norriton
22 149844     14.9844         24.9      22          6.4   E. Pikeland
23 170556     17.0556         27.2      30          4.6   E. Whiteland
24 280969     28.0969         17.7      14          2.9   Easttown
25 114233     11.4233         29.0      30          1.3   Falls Town
26  74502      7.4502         21.4      15         -3.2   Follcroft
27 475112     47.5112         28.6      12           NA   Gladwyne
28  97167      9.7167         29.3      10          0.2   Glenolden
29 114572     11.4572         17.5      20          5.2   Hatboro
30 436348     43.6348         16.5      10         -0.7   Haverford
⋮  ⋮          ⋮               ⋮         ⋮          ⋮      ⋮
70 100231     10.0231         24.1      15          1.9   Ridley Town
71  95831      9.5831         21.2      32          3.2   Royersford
72 229711     22.9711          9.8      22          5.3   Schuylkill
73  74308      7.4308         29.9       7          1.8   Sharon Hill
74 259506     25.9506          7.2      40         17.4   Solebury
75 159573     15.9573         19.4      15         -2.1   Springfield
76 147176     14.7176         41.1      12         -1.7   Springfield
77 205732     20.5732         11.2      12         -0.2   Swarthmore
78 215783     21.5783         21.2      20          1.1   Tredyffin
79 116710     11.6710         42.8      20         12.9   U. Chichester
80 359112     35.9112          9.4      36          4.0   U. Makefield
81 189959     18.9959         61.7      22         -2.1   U. Merion
82 133198     13.3198         19.4      22         -2.0   U. Moreland
83 242821     24.2821          6.6      21          1.6   U. Providence
84 142811     14.2811         15.9      20         -1.6   U. Southampton
85 200498     20.0498         18.8      36         11.0   U. Uwchlan
86 199065     19.9065         13.2      20          7.8   Upper Darby
87  93648      9.3648         34.5       8         -0.7   Upper Darby
88 163001     16.3001         22.1      50          8.0   Uwchlan T.
89 436348     43.6348         22.1      15          1.3   Villanova
90 124478     12.4478         71.9      22          4.6   W. Chester
91 168276     16.8276         31.9      26          5.9   W. Goshen
92 114157     11.4157         44.6      38         14.6   W. Whiteland
93 130088     13.0088         28.6      19         -0.2   Warminster
94 152624     15.2624         24.0      19         23.1   Warrington
95 174232     17.4232         13.8      25          4.7   Westtown
96 196515     19.6515         29.9      16          1.8   Whitemarsh
97 232714     23.2714          9.9      21          0.2   Willistown
98 245920     24.5920         22.6      10          0.3   Wynnewood
99 130953     13.0953         13.0      24          5.2   Yardley
   County
1  Montgome
2  Montgome
3  Delaware
4  Bucks
5  Bucks
6  Bucks
7  Delaware
8  Montgome
9  Montgome
10 Bucks
11 Bucks
12 Montgome
13 Delaware
14 Montgome
15 Delaware
16 Delaware
17 Chester
18 Bucks
19 Chester
20 Chester
21 Montgome
22 Chester
23 Chester
24 Chester
25 Bucks
26 Delaware
27 Montgome
28 Delaware
29 Montgome
30 Delaware
⋮  ⋮
70 Delaware
71 Montgome
72 Chester
73 Delaware
74 Bucks
75 Montgome
76 Delaware
77 Delaware
78 Chester
79 Delaware
80 Bucks
81 Montgome
82 Montgome
83 Delaware
84 Bucks
85 Chester
86 Montgome
87 Delaware
88 Chester
89 Montgome
90 Chester
91 Chester
92 Chester
93 Bucks
94 Bucks
95 Chester
96 Montgome
97 Chester
98 Montgome
99 Bucks

In [16]:
con <- url("http://www.jhsph.edu", "r")
x <- readLines(con)
head(x)

[1] "<!DOCTYPE html>"
[2] "<html lang=\"en\">"
[3] ""
[4] "<head>"
[5] "<meta charset=\"utf-8\" />"
[6] "<title>Johns Hopkins Bloomberg School of Public Health</title>"

In [1]:
x <- 4
class(x)

[1] "numeric"

In [3]:
x <- c(4, "a", TRUE)
class(x)

[1] "character"

In [4]:
x <- c(1,3, 5)
y <- c(3, 2, 10)
rbind(x, y)

  [,1] [,2] [,3]
x 1    3     5
y 3    2    10

In [5]:
x <- list(2, "a", "b", TRUE)
x[[1]]

[1] 2

In [6]:
x <- 1:4
y <- 2
x + y

[1] 3 4 5 6

In [8]:
x <- c(17, 14, 4, 5, 13, 12, 10)
x[x > 10] <- 4
x

[1]  4  4  4  5  4  4 10

In [16]:
x <- c(17, 14, 4, 5, 13, 12, 10)
x[x == 10] <- 4
x

[1] 17 14  4  5 13 12  4

In [18]:
hw1 = read.csv("hw1_data.csv")
hw1

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
5    NA    NA     14.3 56   5      5
6    28    NA     14.9 66   5      6
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
10   NA   194      8.6 69   5     10
11    7    NA      6.9 74   5     11
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
25   NA    66     16.6 57   5     25
26   NA   266     14.9 58   5     26
27   NA    NA      8.0 57   5     27
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
⋮   ⋮     ⋮       ⋮    ⋮    ⋮     ⋮
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [20]:
length(count.fields("hw1_data.csv", skip = 1))

[1] 153

In [24]:
tail(hw1,n=2)

    Ozone Solar.R Wind Temp Month Day
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [25]:
hw1$Ozone[47]

[1] 21

In [26]:
sum(is.na(hw1$Ozone))

[1] 37

In [27]:
mean(hw1$Ozone,na.rm =T)

[1] 42.12931

In [28]:
logVec <- hw1$Temp > 90 & hw1$Ozone > 31
mean(hw1$Solar.R[logVec],na.rm=T)

[1] 212.8

In [29]:
mean(hw1$Temp[hw1$Month == 6])

[1] 79.1

In [30]:
max(hw1$Ozone[hw1$Month == 5],na.rm=T)

[1] 115