In [29]:
library(datasets)

In [30]:
data(iris)

In [31]:
?iris

In [32]:
mean(iris[iris$Species == "virginica",]$Sepal.Length)

[1] 6.588

In [33]:
tapply(iris$Sepal.Length,iris$Species, mean)

    setosa versicolor  virginica
     5.006      5.936      6.588

In [36]:
apply(iris[, 1:4], 2, mean)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

In [38]:
data(mtcars)

In [ ]:
?mtcars

In [39]:
tapply(mtcars$mpg, mtcars$cyl, mean)

       4        6        8
26.66364 19.74286 15.10000

In [40]:
sapply(split(mtcars$mpg, mtcars$cyl), mean)

       4        6        8
26.66364 19.74286 15.10000

In [43]:
with(mtcars, tapply(mpg, cyl, mean))

       4        6        8
26.66364 19.74286 15.10000

In [44]:
mean(mtcars[mtcars$cyl == "8",]$hp) - mean(mtcars[mtcars$cyl == "4",]$hp)

[1] 126.5779

In [47]:
str(lm)

function (formula, data, subset, weights, na.action, method = "qr", model = TRUE,
    x = FALSE, y = FALSE, qr = TRUE, singular.ok = TRUE, contrasts = NULL,
    offset, ...)

In [48]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [50]:
set.seed(1)
rpois(5, 2)

[1] 1 1 2 4 1

In [52]:
set.seed(10)
x <- rep(0:1, each = 5)
e <- rnorm(10, 0, 20)
y <- 0.5 + 2 * x + e